.label-text{
    color: black;font-size: 14px; font-weight: 500;
}

.downloadCertificate{
    margin: auto; display:block; text-align:center; width:20%; padding: 7px 15px; color: white; background-color: #3299B7; border-radius: 2px;margin-top: 20px;
}