<div class="" style="margin-bottom: 50px;">
    <div class="home-heading">Receipts & Payment</div>

    <div layout="row" layout-wrap>
        <div flex="20" ng-class="selectedPayment == 'requisition'?'pipeline-tabs-selected':'pipeline-tabs'" ng-click="paymentTabSelected('requisition')">Requisition</div>
        <div flex="20" ng-class="selectedPayment == 'individualReceipt'?'pipeline-tabs-selected':'pipeline-tabs'" ng-click="paymentTabSelected('individualReceipt')">Individual Receipts</div>
        <div flex="20" ng-class="selectedPayment == 'receipt'?'pipeline-tabs-selected':'pipeline-tabs'" ng-click="paymentTabSelected('receipt')">Receipts Queue</div>
        <div flex="20" ng-class="selectedPayment == 'payment'?'pipeline-tabs-selected':'pipeline-tabs'" ng-click="paymentTabSelected('payment')">Price Payment</div>
        <div flex="20" ng-class="selectedPayment == 'certificate'?'pipeline-tabs-selected':'pipeline-tabs'" ng-click="paymentTabSelected('certificate')">Certificate</div>
    </div>
    <div layout="row" layout-wrap>
        <div flex="20" ng-class="selectedPayment == 'requisition' ? 'pipeline-tabs-line-selected':'pipeline-tabs-line'"></div>
        <div flex="20" ng-class="selectedPayment == 'individualReceipt' ? 'pipeline-tabs-line-selected':'pipeline-tabs-line'"></div>
        <div flex="20" ng-class="selectedPayment == 'receipt' ? 'pipeline-tabs-line-selected':'pipeline-tabs-line'"></div>
        <div flex="20" ng-class="selectedPayment == 'payment' ? 'pipeline-tabs-line-selected':'pipeline-tabs-line'"></div>
        <div flex="20" ng-class="selectedPayment == 'certificate' ? 'pipeline-tabs-line-selected':'pipeline-tabs-line'"></div>
    </div>

    <div ng-if="selectedPayment == 'requisition'" class="" style="background-color: white; padding: 25px;">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-offset-1 col-md-6 col-sm-6 col-xs-6">
                <div class="label-text">Muffin Name</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center">
                <div class="dropdown">
                    <div class="btn btn-block dropdown-toggle bg-color-white" type="button" style="text-align: left;color: black;background-color: lightgrey"  data-toggle="dropdown">{{muffin}}<span style="float: right">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></span></div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="height: 200px; overflow: auto">
                        <li role="presentation" ng-repeat="muffin in availableMuffins">
                            <a role="menuitem" tabindex="-1" ng-click="requisitionMuffinSelected(muffin)">{{muffin.name}}</a>
                            <div class="dropdown-divider"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-offset-1 col-md-6 col-sm-6 col-xs-6">
                <div class="label-text">FV</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center">
                <input type="text" class="form-control add-muffin-input" ng-model="requisitionMuffinFaceValue" disabled>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-offset-1 col-md-6 col-sm-6 col-xs-6">
                <div class="label-text">Instalment</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center">
                <input type="text" class="form-control add-muffin-input" ng-model="requisitionMuffinInstalment" disabled>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-offset-1 col-md-6 col-sm-6 col-xs-6" style="background-color:grey;padding: 10px;">
                <div class="label-text">Subscribers</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" style="background-color:grey;padding: 10px;text-align: center">
                <div class="label-text">Amount</div>
            </div>
        </div>
        <div class="row" ng-repeat="user in muffinUsers">
            <div class="col-md-offset-1 col-md-6 col-sm-6 col-xs-6" style="background-color: #EEEEEE;padding: 10px;">
                <div class="label-text">{{user.name | capitalize}}</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center;background-color: #EEEEEE;padding: 10px;">
                <div class="label-text">Amount</div>
            </div>
        </div>
    </div>

    <div ng-if="selectedPayment == 'individualReceipt'" class="" style="background-color: white; padding: 25px;">

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-offset-1 col-md-5 col-sm-5 col-xs-5">
                <div class="label-text">Bank Code</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="dropdown">
                    <div class="btn btn-block dropdown-toggle bg-color-white" type="button" style="text-align: left;color: black;background-color: lightgrey"  data-toggle="dropdown">{{bank}}<span style="float: right">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></span></div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation" ng-repeat="bank in banks">
                            <a role="menuitem" tabindex="-1" ng-click="bankSelected(bank)">{{bank.bankName}}</a>
                            <div class="dropdown-divider"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
                <div style="text-align: center;" ng-show="showBankProgress">
                    <div layout="row" layout-sm="column" layout-align="space-around">
                        <md-progress-circular md-diameter="30" md-mode="indeterminate" class="center"></md-progress-circular>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-offset-1 col-md-5 col-sm-5 col-xs-5">
                <div class="label-text">Muffin Group</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="dropdown">
                    <div class="btn btn-block dropdown-toggle bg-color-white" type="button" style="text-align: left;color: black;background-color: lightgrey"  data-toggle="dropdown">{{muffin}}<span style="float: right">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></span></div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="height: 200px; overflow: auto">
                        <li role="presentation" ng-repeat="muffin in availableMuffins">
                            <a role="menuitem" tabindex="-1" ng-click="individualReceiptMuffinSelected(muffin)">{{muffin.name}}</a>
                            <div class="dropdown-divider"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
                <div style="text-align: center;" ng-show="showMuffinProgress">
                    <div layout="row" layout-sm="column" layout-align="space-around">
                        <md-progress-circular md-diameter="30" md-mode="indeterminate" class="center"></md-progress-circular>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-offset-1 col-md-5 col-sm-5 col-xs-5">
                <div class="label-text">Subscriber</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="dropdown">
                    <div class="btn btn-block dropdown-toggle bg-color-white" type="button" style="text-align: left;color: black;background-color: lightgrey"  data-toggle="dropdown">{{user | capitalize}}<span style="float: right">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></span></div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="height: 200px; overflow: auto">
                        <li role="presentation" ng-repeat="user in muffinUsers">
                            <a role="menuitem" tabindex="-1" ng-click="userSelected(user)">{{user.name | capitalize}}</a>
                            <div class="dropdown-divider"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
                <div style="text-align: center;" ng-show="showUsersProgress">
                    <div layout="row" layout-sm="column" layout-align="space-around">
                        <md-progress-circular md-diameter="30" md-mode="indeterminate" class="center"></md-progress-circular>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-offset-1 col-md-5 col-sm-5 col-xs-5">
                <div class="label-text">Amount Paid</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center">
                <input type="text" class="form-control add-muffin-input">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                ₹ {{amountPaidFee}}
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-offset-1 col-md-5 col-sm-5 col-xs-5">
                <div class="label-text">Instalment Payable</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center">
                <input type="text" class="form-control add-muffin-input">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                ₹ {{instalmentPayableFee}}
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-offset-1 col-md-5 col-sm-5 col-xs-5">
                <div class="label-text">Bounce Charges</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center">
                <input type="text" class="form-control add-muffin-input">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                ₹ {{bounceFee}}
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-offset-1 col-md-5 col-sm-5 col-xs-5">
                <div class="label-text">Late Fee</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center">
                <input type="text" class="form-control add-muffin-input">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                ₹ {{lateFee}}
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-offset-1 col-md-5 col-sm-5 col-xs-5">
                <div class="label-text">Interest</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center">
                <input type="text" class="form-control add-muffin-input">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                ₹ {{delayedPaymentFee}}
            </div>
        </div>
        <div class="row" style="margin-top: 10px;margin-bottom: 40px;">
            <div class="col-md-offset-1 col-md-5 col-sm-5 col-xs-5">
                <div class="label-text">Transition Type</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="dropdown">
                    <div class="btn btn-block dropdown-toggle bg-color-white" type="button" style="text-align: left;color: black;background-color: lightgrey"  data-toggle="dropdown">Muffin<span style="float: right">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></span></div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation" ng-repeat="profile in ['NEFT','Cash']">
                            <a role="menuitem" tabindex="-1" ng-click="profileSelected(profile)">{{profile}}</a>
                            <div class="dropdown-divider"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-info" ng-click="" style="display: block;margin: auto;width: 35%">Submit</button>

    </div>

    <div ng-if="selectedPayment == 'receipt'" class="">
        <div ng-repeat="muffin in availableMuffins" ng-show="!showMuffinProgress">
            <div class="" ng-click="receiptQueueSelected($index, muffin)" style="background-color: #d4d5d6; margin: 1px 0px 0px 0px;padding: 10px;outline: none">
                {{muffin.name}}
                <i ng-class="receiptQueueSelcetedIndex == $index ? 'fa fa-chevron-down':'fa fa-chevron-right'"  aria-hidden="true" style="float: right"></i>
            </div>
            <div ng-if="receiptQueueSelcetedIndex == $index">
                <div class="row" style="background-color: #e0e1e2;text-align: center; margin: 0;">
                    <div class="col-md-4 col-sm-4 col-xs-4 bank-heading">
                        Subscriber
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 bank-heading">
                        Transaction Id
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 bank-heading">
                        Amount Paid
                    </div>
                </div>
                <div style="padding: 10px;background-color: white">
                    <div ng-repeat="user in muffinUsers" style="text-align: center;padding: 5px;background-color: white;">
                        <div class="row" style="margin: 0;">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                {{user.username | capitalize}}
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div ><input type="text" class="form-control"></div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                {{2000}}
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-info" ng-click="" style="display: block;margin: auto;width: 35%; margin-top: 20px;">Submit</button>

                    <div style="text-align: center; margin-top: 10px;" ng-show="showUsersProgress">
                        <div layout="row" layout-sm="column" layout-align="space-around">
                            <md-progress-circular md-diameter="30" md-mode="indeterminate" class="center"></md-progress-circular>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center; margin-top: 20px;" ng-show="showMuffinProgress">
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
            </div>
        </div>
    </div>

    <div ng-if="selectedPayment == 'payment'" class="" style="background-color: white; padding: 25px;">
        <div class="" style="margin-bottom: 20px;">
            &nbsp;
            <div style="float: right;padding: 5px 13px; color: white; background-color: #3299B7; border-radius: 2px;" ng-click="showModal('filter')">
               Filter
            </div>
        </div>

        <div layout="row" layout-wrap style="text-align: center">
            <div flex="14" class="bank-heading">Group Code</div>
            <div flex="15" class="bank-heading">Auction No</div>
            <div flex="15" class="bank-heading">Auction Date</div>
            <div flex="14" class="bank-heading">Auction Time</div>
            <div flex="15" class="bank-heading">Ticket No</div>
            <div flex="15" class="bank-heading">Name & Prized Subscriber</div>
            <div flex="14" class="bank-heading">Prize Amount</div>
        </div>
        <div ng-repeat="i in [0,1,2,3,4]">
            <div layout="row" layout-wrap style="text-align: center;margin-top: 1px;">
                <div flex="14" class="bank-data">Group Code</div>
                <div flex="15" class="bank-data">Auction No</div>
                <div flex="15" class="bank-data">Auction Date</div>
                <div flex="14" class="bank-data">Auction Time</div>
                <div flex="15" class="bank-data">Ticket No</div>
                <div flex="15" class="bank-data">John</div>
                <div flex="14" class="bank-data">₹ 5000</div>
            </div>
        </div>
    </div>

    <div ng-if="selectedPayment == 'certificate'" class="" style="background-color: white; padding: 25px;">
        <div class="" style="text-align:center; font-size: 16px;margin-bottom: 35px;">Print Bank Prize Amount  Certificate</div>
        <div class="" style="margin: auto; display:block; text-align:center; width: 25%">
            <div class="dropdown" style="margin: auto; display:block; text-align:center;">
                <div class="btn btn-block dropdown-toggle bg-color-white" type="button" style="text-align: left;color: black;background-color: lightgrey; margin: auto; display:block; text-align:center;"  data-toggle="dropdown">Type<span style="float: right">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></span></div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation" ng-repeat="profile in ['Month','Quarter','Year']">
                        <a role="menuitem" tabindex="-1" ng-click="profileSelected(profile)">{{profile}}</a>
                        <div class="dropdown-divider"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="downloadCertificate" ng-click="downloadCertificate()">Download</div>
    </div>
</div>



<!-- Completion Modal -->
<div class="modal fade filterModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <i class="fa fa-times modal-close outline" aria-hidden="true" ng-click="closeModal()"></i>
            <div class="modal-heading">Filter By</div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-offset-1 col-md-6 col-sm-6 col-xs-6">
                    <div class="label-text">Muffin</div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center">
                    <div class="dropdown">
                        <div class="btn btn-block dropdown-toggle bg-color-white" type="button" style="text-align: left;color: black;background-color: lightgrey"  data-toggle="dropdown">Muffin<span style="float: right">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></span></div>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation" ng-repeat="profile in ['Muffin1','Muffin2','Muffin3','Muffin4']">
                                <a role="menuitem" tabindex="-1" ng-click="profileSelected(profile)">{{profile}}</a>
                                <div class="dropdown-divider"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-offset-1 col-md-6 col-sm-6 col-xs-6">
                    <div class="label-text">Auction Number</div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="dropdown">
                        <div class="btn btn-block dropdown-toggle bg-color-white" type="button" style="text-align: left;color: black;background-color: lightgrey"  data-toggle="dropdown">Muffin<span style="float: right">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></span></div>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation" ng-repeat="profile in ['Muffin1','Muffin2','Muffin3','Muffin4']">
                                <a role="menuitem" tabindex="-1" ng-click="profileSelected(profile)">{{profile}}</a>
                                <div class="dropdown-divider"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-offset-1 col-md-6 col-sm-6 col-xs-6">
                    <div class="label-text">Price Amount</div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 centerAligned">
                    <input type="text" class="form-control add-muffin-input" id="usr">
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-offset-1 col-md-6 col-sm-6 col-xs-6">
                    <div class="label-text">Price Subscriber</div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 centerAligned">
                    <input type="text" class="form-control add-muffin-input" id="usr">
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-offset-1 col-md-6 col-sm-6 col-xs-6">
                    <div class="label-text">Price Amount</div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 centerAligned">
                    <input type="text" class="form-control add-muffin-input" id="usr">
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-offset-1 col-md-6 col-sm-6 col-xs-6">
                    <div class="label-text">Transaction Id</div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 centerAligned">
                    <input type="text" class="form-control add-muffin-input" id="usr">
                </div>
            </div>
            <div class="row" style="margin-top: 10px;margin-bottom: 40px;">
                <div class="col-md-offset-1 col-md-6 col-sm-6 col-xs-6">
                    <div class="label-text">Type</div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 centerAligned">
                    <div class="dropdown">
                        <div class="btn btn-block dropdown-toggle bg-color-white" type="button" style="text-align: left;color: black;background-color: lightgrey"  data-toggle="dropdown">Type<span style="float: right">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></span></div>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation" ng-repeat="profile in ['NEFT','Cheque']">
                                <a role="menuitem" tabindex="-1" ng-click="profileSelected(profile)">{{profile}}</a>
                                <div class="dropdown-divider"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div style="margin-top: 20px;">
                <div class="modal-submit-btn outline">Submit</div>
            </div>
        </div>
    </div>
</div>