<div class="" style="margin-bottom: 50px;">
    <div class="home-heading">Auctions</div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Search Auctiion" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
        </div>
    </div>
    <div class="" style="margin-top: 15px;">
        <div layout="row" layout-wrap>
            <div flex="20" class=" bank-heading">Name</div>
            <div flex="20" class=" bank-heading">Auction No</div>
            <div flex="20" class=" bank-heading">Auction Done</div>
            <div flex="20" class=" bank-heading">Auction Date</div>
            <div flex="20" class=" bank-heading">Highest Bid</div>
        </div>
        <div ng-repeat="auction in auctions | filter: searchText" ng-show="!showProgress">
            <div layout="row" layout-wrap style="text-align: center;padding: 0;margin: 0;">
                <div flex="20" class=" bank-data">{{auction.muffinName}}</div>
                <div flex="20" class=" bank-data">{{auction.auctionNumber}}</div>
                <div flex="20" class=" bank-data">{{auction.auctionDone}}</div>
                <div flex="20" class=" bank-data">{{auction.auctionDate | date:"dd-MM-yyyy"}}</div>
                <div flex="20" class=" bank-data">{{auction.highestBid.bid}}</div>
            </div>
        </div>
        <div style="text-align: center;margin-top: 20px;" ng-show="showProgress">
            <div layout="row" layout-sm="column" layout-align="space-around" style="">
                <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
            </div>
        </div>
    </div>
</div>