.outline{
    outline: none;
}

.center{
    margin: auto; display:block;
}

.centerAligned{
    text-align: center;
}

.home-heading{
    color: #1C2837; font-size: 28px; font-weight: 500;padding: 15px 0px;
}

md-progress-circular path {
    stroke: #32A3D5;
}

.outer-container{
    margin-bottom: 50px;
}