.muffin-names-wrapper{
    background-color: #272727;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.muffins-body{
    overflow:   scroll;
}::-webkit-scrollbar {
     width: 0px;
     background: transparent; /* make scrollbar transparent */
 }



.muffin-img{
    height: 40px; width: 40px;
}

.home-side-nav-type-selected{
    background: #319DB5; padding: 20px 10px 20px 10px;text-align: center;outline: none;
}

.home-side-nav-type{
    background: #2B2E33; padding: 20px 10px 20px 10px;text-align: center;outline: none;
}

.side-nav-sub-type{
    color: #bdbdbd;
    padding: 5px;
    outline: none;
}

.side-nav-sub-type:hover{
    color: white;
    padding: 5px;
    outline: none;
}

.side-nav-sub-type-selected{
    color: white;
    padding: 5px;
    outline: none;
}

.pipeline-tabs{
    padding: 14px;
    background-color: white;
    color: #A9A9A9;
    text-align: center;
    outline: none;
}

.pipeline-tabs-selected{
    padding: 14px;
    background-color: white;
    color: #566473;
    text-align: center;
    outline: none;
}

.pipeline-tabs-line{
    background-color: transparent;
    height: 2px;
}

.pipeline-tabs-line-selected{
    background-color: #566473;
    height: 2px;
}

.add-muffin-label{
    color: #6E757A;text-align: center;
}

.add-muffin-input{
    background-color: #ECEDEE;
    border-radius: 2px;
    border: 1px solid #ccc;
}

