<div class="home-container" layout="column" style="height:500px;background-color: #F5F5F5" ng-cloak="" class="sidenavdemoBasicUsage" >

    <!--Working code start-->
    <div class="row" style="margin: 0;">
        <div class="col-md-3" style="padding: 0;">
            <div class="home-side-nav" style="background: #2B2E33;color: white;position: fixed; height: 100%;width: 250px;padding: 0;margin: 0;">
                <div class="muffin-logo" style="padding: 10px;background: #181A1D">
                    <img src="./assets/images/logo.svg" class="muffin-img">
                    <span style="font-weight: 500; font-size: 16px;">Muffin Admin Panel</span>
                    <!--<i class="fa fa-sign-out logout" aria-hidden="true" ng-click="logout()"></i>-->
                </div>
                <div class="muffin-names-wrapper muffins-body">
                    <!--<div ng-class="muffin._id == selectedMuffinId ? 'muffin-selected': 'muffin-notselected'" ng-click="selectedMuffin(muffin._id, $index)">-->
                        <!--<div style="padding: 10px;">{{muffin }}</div>-->
                    <!--</div>-->
                    <div ng-class="sideNavType == 'muffins' ? 'home-side-nav-type-selected':'home-side-nav-type'" ng-click="selectType('muffins','pipeline')">Muffins
                    <span style="float: right;"><i ng-class="sideNavType == 'muffins' ? 'fa fa-chevron-down':'fa fa-chevron-right'" aria-hidden="true"></i></span></div>
                    <div ng-if="sideNavType == 'muffins'" class="" style="padding-left: 30%;padding-top: 10px;padding-bottom: 10px;">
                        <div ng-class="sideNavSubType == 'pipeline'?'side-nav-sub-type-selected':'side-nav-sub-type'"  ng-click="selectType('muffins','pipeline')">Pipeline</div>
                        <div ng-class="sideNavSubType == 'active'?'side-nav-sub-type-selected':'side-nav-sub-type'"  ng-click="selectType('muffins','active')">Active</div>
                        <!--<div ng-class="sideNavSubType == 'release'?'side-nav-sub-type-selected':'side-nav-sub-type'"  ng-click="selectType('muffins','release')">Release</div>-->
                        <!--<div ng-class="sideNavSubType == 'archived'?'side-nav-sub-type-selected':'side-nav-sub-type'"  ng-click="selectType('muffins','archived')">Archived</div>-->
                    </div>
                    <div ng-class="sideNavType == 'receivables' ? 'home-side-nav-type-selected':'home-side-nav-type'" ng-click="selectType('receivables', '')">Receivables</div>
                    <div ng-class="sideNavType == 'receipts' ? 'home-side-nav-type-selected':'home-side-nav-type'" ng-click="selectType('receipts', '')">Receipts & Payments</div>
                    <div ng-class="sideNavType == 'auction' ? 'home-side-nav-type-selected':'home-side-nav-type'" ng-click="selectType('auction', '')">Auction</div>
                    <div ng-class="sideNavType == 'customers' ? 'home-side-nav-type-selected':'home-side-nav-type'" ng-click="selectType('customers', '')">Customers</div>
                    <div ng-class="sideNavType == 'sales' ? 'home-side-nav-type-selected':'home-side-nav-type'" ng-click="selectType('sales','')">Sales</div>
                    <div ng-class="sideNavType == 'misc' ? 'home-side-nav-type-selected':'home-side-nav-type'" ng-click="selectType('misc','banks')">Misc
                        <span style="float: right;"><i ng-class="sideNavType == 'misc' ? 'fa fa-chevron-down':'fa fa-chevron-right'" aria-hidden="true"></i></span></div>
                    <div ng-if="sideNavType == 'misc'"  class="" style="padding-left: 30%;padding-top: 10px;padding-bottom: 10px;">
                        <div ng-class="sideNavSubType == 'banks'?'side-nav-sub-type-selected':'side-nav-sub-type'" ng-click="selectType('misc','banks')">Banks</div>
                        <div ng-class="sideNavSubType == 'legal'?'side-nav-sub-type-selected':'side-nav-sub-type'"  ng-click="selectType('misc','legal')">Legal</div>
                        <div ng-class="sideNavSubType == 'executive'?'side-nav-sub-type-selected':'side-nav-sub-type'"  ng-click="selectType('misc','executive')">Executive</div>
                        <!--<div ng-class="sideNavSubType == 'preformatted'?'side-nav-sub-type-selected':'side-nav-sub-type'"  ng-click="selectType('misc','preformatted')">Preformatted</div>-->
                        <!--<div ng-class="sideNavSubType == 'documents'?'side-nav-sub-type-selected':'side-nav-sub-type'"  ng-click="selectType('misc','documents')">Documents</div>-->
                        <!--<div ng-class="sideNavSubType == 'processes'?'side-nav-sub-type-selected':'side-nav-sub-type'"  ng-click="selectType('misc','processes')">Processes</div>-->
                        <!--<div ng-class="sideNavSubType == 'userMang'?'side-nav-sub-type-selected':'side-nav-sub-type'"  ng-click="selectType('misc','userMang')">User Management</div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9" style="background-color: #F5F5F5">
            <!--<div class="" style="background-color: #FFFFFF;height: 50px;">-->

            <!--</div>-->
            <div ui-view class="main-view "></div>
        </div>
    </div>

    <!--Working code end-->



    <!--<md-sidenav-->
            <!--class="md-sidenav-left"-->
            <!--md-component-id="mainLeftNav"-->
            <!--md-is-locked-open="$mdMedia('gt-md')"-->
            <!--md-whiteframe="4">-->
        <!--<md-content style="padding: 0px;" class="blackBackgroundColor">-->
            <!--<div style="text-align: center; padding-top: 10px;">-->
                <!--<img src="./assets/images/transparentLogo.png" height="40" width="65">-->
                <!--&lt;!&ndash; <h4 style="margin-left: 20px;">-->
                  <!--<span>PAF {{indexScope.userType.toUpperCase()}}</span>-->
                <!--</h4> &ndash;&gt;-->
            <!--</div>-->
            <!--<md-list flex>-->
                <!--<md-subheader class="leftNavHeader">Create Trip</md-subheader>-->
                <!--<div ng-class="currentStateName.startsWith('home.viewEditTrips.createTrip') ? 'leftSideNavListActive':''">-->
                    <!--<md-list-item class="md-1-line" ng-click="indexScope.goToCreateTripPage()">-->
                        <!--<img ng-src="./assets/images/leftnav/add_trip.svg" class="leftNavListItemIcon" alt="icon" />-->
                        <!--<div class="md-list-item-text" layout="column">-->
                            <!--<h3 class="leftNavListItem">Create Trip</h3>-->
                        <!--</div>-->
                        <!--<md-icon md-svg-icon="./assets/images/right_arrow.svg" class="leftNavListItemRightArrow" ng-show="currentStateName.startsWith('home.viewEditTrips.createTrip')"></md-icon>-->
                    <!--</md-list-item>-->
                <!--</div>-->

                <!--<md-subheader class="leftNavHeader">Current Trips</md-subheader>-->
                <!--<div ng-class="currentStateName.startsWith('home.viewEditTrips.tripsRunning') ? 'leftSideNavListActive':''">-->
                    <!--<md-list-item class="md-1-line" ng-click="indexScope.goToRunningTripsPage()">-->
                        <!--<img ng-src="./assets/images/leftnav/overview.svg" class="leftNavListItemIcon" alt="icon" />-->
                        <!--<div class="md-list-item-text" layout="column">-->
                            <!--<h3 class="leftNavListItem">All</h3>-->
                        <!--</div>-->
                        <!--<md-icon md-svg-icon="./assets/images/right_arrow.svg" class="leftNavListItemRightArrow" ng-show="currentStateName.startsWith('home.viewEditTrips.tripsRunning')"></md-icon>-->
                    <!--</md-list-item>-->
                <!--</div>-->


            <!--</md-list>-->
        <!--</md-content>-->

    <!--</md-sidenav>-->


    <!--<div class="rightDivToLeftNav">-->
        <!--<md-toolbar class="md-hue-2">-->
            <!--<div class="md-toolbar-tools mainToolBar">-->
                <!--<md-button ng-click="openLeftNav()" aria-label="Left Nav Icon" style="background-color: deeppink">-->
                    <!--<md-icon md-svg-icon="./assets/images/toolbar/white_menu.svg"></md-icon>Hello-->
                <!--</md-button>-->
                <!--<span flex></span>-->
                <!--<md-button ng-click="goToHomePage()" aria-label="Home Icon">-->
                    <!--<md-icon md-svg-icon="./assets/images/toolbar/home_icon.svg"></md-icon>-->
                <!--</md-button>-->
                <!--<md-menu>-->
                    <!--<md-button aria-label="Open phone interactions menu" class="md-icon-button roundedImageButton" ng-click="openMenu($mdOpenMenu, $event)">-->
                        <!--<img src="https://loremflickr.com/100/100/cartoon" height="40" width="40" class="img-circle">-->
                    <!--</md-button>-->
                    <!--<md-menu-content width="4">-->
                        <!--<md-menu-item>-->
                            <!--<md-button ng-click="logout()" aria-label="Logout Icon">-->
                                <!--<md-icon md-svg-icon="./assets/images/toolbar/logout_toolbar.svg"></md-icon>-->
                                <!--Logout-->
                            <!--</md-button>-->
                        <!--</md-menu-item>-->
                    <!--</md-menu-content>-->
                <!--</md-menu>-->
            <!--</div>-->
        <!--</md-toolbar>-->
        <!--<div ui-view style="width: 100%;">-->
        <!--</div>-->
        <!--<div id="helloHolder">-->
        <!--</div>-->
    <!--</div>-->


    <!--3-->
    <!--<section layout="row" flex="">-->
        <!--<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">-->
            <!--<md-toolbar class="md-theme-indigo">-->
                <!--<h1 class="md-toolbar-tools">Sidenav Left</h1>-->
            <!--</md-toolbar>-->
            <!--<md-content layout-padding="">-->
                <!--<md-button ng-click="close()" class="md-primary" hide-gt-md="">-->
                    <!--Close Sidenav Left-->
                    <!--{{isOpen() }}-->
                <!--</md-button>-->
                <!--<p hide="" show-gt-md="">-->
                    <!--This sidenav is locked open on your device. To go back to the default behavior,-->
                    <!--narrow your display.-->
                <!--</p>-->
            <!--</md-content>-->
        <!--</md-sidenav>-->
        <!--<md-content flex="" layout-padding="">-->
            <!--<div layout="column" layout-align="top center">-->
                <!--<div>-->
                    <!--<div>-->
                        <!--<md-button ng-click="toggleLeft()" ng-show="bool" class="md-primary">-->
                            <!--Toggle left-->
                            <!--{{bool }}-->
                        <!--</md-button>-->
                        <!--<md-button ng-click="toggleRight()" ng-show="!bool" class="md-primary">-->
                            <!--Toggle left-->
                            <!--{{bool }}-->
                        <!--</md-button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</md-content>-->
    <!--</section>-->


</div>