<div class="" style="margin-bottom: 50px;" >
    <div class="home-heading">Pipeline</div>
    <div class="" style="background-color: #F5F5F5;">
        <div class="row" style="margin: 0;padding: 0;">
            <div class="col-md-3 col-sm-3 col-xs-3 outline" ng-click="piplineTabSelected('NewMuffin')" style="margin: 0;padding: 0;">
                <div ng-class="selectedPipeline == 'NewMuffin' ? 'pipeline-tabs-selected':'pipeline-tabs'">
                    New Muffin
                </div>
                <div ng-class="selectedPipeline == 'NewMuffin' ? 'pipeline-tabs-line-selected':'pipeline-tabs-line'"></div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 outline" ng-click="piplineTabSelected('Approval')" style="margin: 0;padding: 0;">
                <div ng-class="selectedPipeline == 'Approval' ? 'pipeline-tabs-selected':'pipeline-tabs'">
                    Approval Queue
                </div>
                <div ng-class="selectedPipeline == 'Approval' ? 'pipeline-tabs-line-selected':'pipeline-tabs-line'"></div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 outline" ng-click="piplineTabSelected('Subscription')" style="margin: 0;padding: 0;">
                <div ng-class="selectedPipeline == 'Subscription' ? 'pipeline-tabs-selected':'pipeline-tabs'">
                    Subscription Queue
                </div>
                <div ng-class="selectedPipeline == 'Subscription' ? 'pipeline-tabs-line-selected':'pipeline-tabs-line'"></div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 outline" ng-click="piplineTabSelected('Registration')" style="margin: 0;padding: 0;">
                <div ng-class="selectedPipeline == 'Registration' ? 'pipeline-tabs-selected':'pipeline-tabs'">
                    Registration Queue
                </div>
                <div ng-class="selectedPipeline == 'Registration' ? 'pipeline-tabs-line-selected':'pipeline-tabs-line'"></div>
            </div>
        </div>
    </div>

    <!--New Muffin-->
    <div ng-if="selectedPipeline == 'NewMuffin'" class="muffin-types-container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3"><div class="add-muffin-label">Group Name</div></div>
            <div class="col-md-8 col-sm-8 col-xs-8"><input type="text" ng-model="newMuffin.name" class="form-control add-muffin-input" id="usr"></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-3 col-sm-3 col-xs-3"><div class="add-muffin-label">Instalments</div></div>
            <div class="col-md-8 col-sm-8 col-xs-8">

                <input type="text" ng-model="newMuffin.instalment" class="form-control add-muffin-input">  
                <!-- <div class="dropdown add-muffin-input">
                    <div class="btn btn-block dropdown-toggle bg-color-white" type="button" style="text-align: left"  data-toggle="dropdown">{{newMuffin.instalment}} <span style="float: right;"><i class="fa fa-caret-down" aria-hidden="true"></i></span></div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation" ng-repeat="instalment in [5000,7500,10000,15000,20000,25000]">
                            <a role="menuitem" tabindex="-1" ng-click="instalmentSelected(instalment)">{{instalment}}</a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-3 col-sm-3 col-xs-3"><div class="add-muffin-label">Frequency</div></div>
            <div class="col-md-8 col-sm-8 col-xs-8">

                <input type="text" ng-model="newMuffin.frequency" class="form-control add-muffin-input">
      

         <!--  <div class="dropdown add-muffin-input">
                    <div class="btn btn-block dropdown-toggle bg-color-white " type="button" style="text-align: left"  data-toggle="dropdown">{{newMuffin.frequency}} <span style="float: right;"><i class="fa fa-caret-down" aria-hidden="true"></i></span></div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation" ng-repeat="duration in [10,12,15,18,20,25]">
                            <a role="menuitem" tabindex="-1" ng-click="durationSelected(duration)">{{duration}}</a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-3 col-sm-3 col-xs-3"><div class="add-muffin-label">Number of Members</div></div>
            <div class="col-md-8 col-sm-8 col-xs-8"><input type="text" ng-model="newMuffin.members" class="form-control add-muffin-input"></div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-3 col-sm-3 col-xs-3"><div class="add-muffin-label">Group FaceValue</div></div>
            <div class="col-md-8 col-sm-8 col-xs-8"><input type="text" ng-model="newMuffin.chitValue" class="form-control add-muffin-input"></div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-3 col-sm-3 col-xs-3"><div class="add-muffin-label">Commission</div></div>
            <div class="col-md-8 col-sm-8 col-xs-8"><input type="text" ng-model="newMuffin.commission" class="form-control add-muffin-input" id="usr" ></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-3 col-sm-3 col-xs-3"><div class="add-muffin-label">Min Prize Amount</div></div>
            <div class="col-md-8 col-sm-8 col-xs-8"><input type="text" ng-model="newMuffin.minPrizeAmt" class="form-control add-muffin-input" id="usr" ></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-3 col-sm-3 col-xs-3"><div class="add-muffin-label">Late Fee</div></div>
            <div class="col-md-8 col-sm-8 col-xs-8"><input type="text" ng-model="newMuffin.lateFee" class="form-control add-muffin-input" id="usr" ></div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-3 col-sm-3 col-xs-3"></div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <button type="button" class="btn btn-info" ng-show="!addMuffinProgress" ng-click="addNewMuffin()" style="display: block;float: right;width: 35%">Submit</button>
                <div style="text-align: center" ng-show="addMuffinProgress">
                    <div layout="row" layout-sm="column" layout-align="space-around"  style="">
                        <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Approval Muffin-->
    <div ng-if="selectedPipeline == 'Approval'" class="muffin-types-container" >
        <div ng-repeat="muffin in approvalQueueMuffins" ng-show="!showApprovalMuffinProgress">
            <div class="" ng-click="approvalMuffinSelected($index)" style="background-color: #d4d5d6; margin: 1px 10px 0px 10px;padding: 10px;outline: none;color: black">
                {{muffin.name}}
                <i ng-class="approvalMuffinSelectedIndex == $index ? 'fa fa-chevron-down':'fa fa-chevron-right'" aria-hidden="true" style="float: right"></i>
            </div>
            <div class="" ng-if="approvalMuffinSelectedIndex == $index" style="background-color: #ECEDEE; margin: 0px 10px 0px 10px;padding: 15px;">

                <div class="muffin-facevalue">₹ {{muffin.chitValue}}</div>
                <div ><span class="textHeading">Instalment : </span>₹ {{muffin.instalment}}</div>
                <div ><span class="textHeading">Members : </span>{{muffin.members}}</div>
                <div ><span class="textHeading">Created By : </span>{{muffin.createdByObject.name}}</div>

                <div class="" style="text-align: right;">
                    <span ng-click="approveMuffin(muffin, true)" class="approval-btn">Approval</span>
                    <span ng-click="approveMuffin(muffin, false)" class="reject-btn">Reject</span>
                </div>
            </div>
        </div>
        <div style="text-align: center" ng-show="showApprovalMuffinProgress">
            <div layout="row" layout-sm="column" layout-align="space-around"  style="">
                <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
            </div>
        </div>
    </div>

    <!--Subscription Muffin-->
    <div ng-if="selectedPipeline == 'Subscription'" class="muffin-types-container">
        <div ng-repeat="muffin in previousSanctionQueueMuffins">
            <div class="" ng-click="subscriptionQueueMuffinSelected($index, muffin)" style="background-color: #d4d5d6; margin: 1px 10px 0px 10px;padding: 10px;outline: none;">
                {{muffin.name}}
                <i ng-class="subscriptionQueueMuffinSelectedIndex == $index ? 'fa fa-chevron-down':'fa fa-chevron-right'" aria-hidden="true" style="float: right"></i>
            </div>
            <div class="" ng-if="subscriptionQueueMuffinSelectedIndex == $index" style="background-color: #ECEDEE; margin: 0px 10px 10px 10px;padding: 10px;">
                <div class="row">
                    <div class="col-md-4  col-sm-4 col-xs-4">
                        <!--<div style="color: black">{{}}</div>-->
                        <div class="muffin-facevalue">₹ {{muffin.chitValue}}</div>
                        <div class="textHeading">Instalment : ₹ {{muffin.instalment}}</div>
                        <div class="textHeading">Members : {{muffin.members}}</div>

                        <div class="" style="margin-top: 25px;">
                            <span class="invite-btn" ng-click="inviteMuffin(muffin._id)">Invite</span>
                            <!--<span class="addNew-btn" ng-click="addNewMuffin()">Add New</span>-->
                        </div>
                    </div>

                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <div class="row" style="background-color: #BDBDBD;margin: 0;">
                            <div class="col-md-6 col-sm-6 col-xs-3">
                                <div class="" style="padding: 5px; margin-left: 5px;">Subscribers</div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-3">
                                <div class="" style="background-color: #BDBDBD;padding: 5px;text-align: center">Agreement</div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-3">
                                <div class="" style="background-color: #BDBDBD;padding: 5px;text-align: center">KYC</div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-3">
                                <div class="" style="background-color: #BDBDBD;padding: 5px;text-align: center">CA</div>
                            </div>
                        </div>
                        <div ng-show="!showUsersProgress" ng-repeat="user in muffinUsers" style="margin-top: 1px;">
                            <div class="row" style="margin: 0;">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div style="text-align: left;padding: 5px; margin: 5px;">{{user.name | capitalize}}</div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <div ng-click="uploadAgreement($index)" style="text-align: center;padding: 5px; margin: 5px;outline: none;" >
                                        <i class="fa fa-upload" aria-hidden="true"  style="color: #5d6066"></i>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <div style="text-align: center;padding: 5px; margin: 5px;outline: none;">
                                        <i class="fa fa-check" ng-show="user.kycDone" aria-hidden="true" style="color: #319DB5"></i>
                                        <i class="fa fa-times" ng-hide="user.kycDone" aria-hidden="true" style="color: #FA8072"></i>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <div style="text-align: center;padding: 5px; margin: 5px;outline: none;">
                                        <i class="fa fa-check" ng-show="user.creditAssessmentDone" aria-hidden="true" style="color: #319DB5"></i>
                                        <i class="fa fa-times" ng-hide="user.creditAssessmentDone" aria-hidden="true" style="color: #FA8072"></i>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="text-align: center;margin-top: 20px;" ng-show="showUsersProgress">
                            <div layout="row" layout-sm="column" layout-align="space-around" style="">
                                <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <!--Registration Muffin-->
    <div ng-if="selectedPipeline == 'Registration'" class="muffin-types-container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="register-queue">
                    Previous Sanction
                </div>
                <div style="text-align: center;margin-top: -8px;">
                    <span class="register-queue-steps">1</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="register-queue">
                    Register
                </div>
                <div style="text-align: center;margin-top: -8px;">
                    <span class="register-queue-steps">2</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="register-queue">
                    Commencement
                </div>
                <div style="text-align: center;margin-top: -8px;">
                    <span class="register-queue-steps">3</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="register-queue">
                    Completion
                </div>
                <div style="text-align: center;margin-top: -8px;">
                    <span class="register-queue-steps">4</span>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div ng-repeat="muffin in previousSanctionQueueMuffins">
                    <div class="register-queue-muffins" ng-click="showModal('step1')">
                        {{muffin.name}}
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div ng-repeat="muffin in registerQueueMuffins">
                    <div class="register-queue-muffins" ng-click="showModal('step2')">
                        {{muffin.name}}
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div ng-repeat="muffin in commencementQueueMuffins">
                    <div class="register-queue-muffins" ng-click="showModal('step3')">
                        {{muffin.name}}
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div ng-repeat="muffin in completionQueueMuffins">
                    <div class="register-queue-muffins" ng-click="showModal('step4')">
                        {{muffin.name}}
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- Previous Sanction Modal -->
<div class="modal fade previousSanctionModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <i class="fa fa-times modal-close outline" aria-hidden="true" ng-click="closeModal()"></i>
            <div class="modal-heading">Previous Sanction</div>
            <div ng-repeat="txt in sanctionModal" style="margin-top: 10px;">
                <div class="row">
                    <div class="col-md-offset-1 col-md-5  col-sm-5 col-xs-5 modal-text">{{txt}}</div>
                    <div class="col-md-2 col-sm-2 col-xs-2 modal-btn1 outline">Download</div>
                    <div class="col-md-offset-1 col-md-2 col-sm-2 col-xs-2 modal-btn2 outline">Upload</div>
                </div>
            </div>
            <div style="margin-top: 20px;">
                <div class="modal-submit-btn outline">Submit</div>
            </div>
        </div>
    </div>
</div>

<!-- Registration Modal -->
<div class="modal fade registrationModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <i class="fa fa-times modal-close outline" aria-hidden="true" ng-click="closeModal()"></i>
            <div class="modal-heading">Registration</div>
            <div ng-repeat="txt in registrationModalArray" style="margin-top: 10px;">
                <div class="row">
                    <div class="col-md-offset-1 col-md-5  col-sm-5 col-xs-5 modal-text">{{txt}}</div>
                    <div class="col-md-2  col-sm-2 col-xs-2 modal-btn1 outline">Download</div>
                    <div class="col-md-offset-1 col-md-2  col-sm-2 col-xs-2 modal-btn2 outline">Upload</div>
                </div>
            </div>
            <div style="margin-top: 20px;">
                <div class="modal-submit-btn outline">Submit</div>
            </div>
        </div>
    </div>
</div>

<!-- Commencement Modal -->
<div class="modal fade commencementModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <i class="fa fa-times modal-close outline" aria-hidden="true" ng-click="closeModal()"></i>
            <div class="modal-heading">Registration</div>
            <div ng-repeat="txt in commencementModalArray" style="margin-top: 10px;">
                <div class="row">
                    <div class="col-md-offset-1 col-md-5 col-sm-5 col-xs-5 modal-text">{{txt}}</div>
                    <div class="col-md-2  col-sm-2 col-xs-2 modal-btn1 outline">Download</div>
                    <div class="col-md-offset-1 col-md-2  col-sm-2 col-xs-2 modal-btn2 outline">Upload</div>
                </div>
            </div>
            <div style="margin-top: 20px;">
                <div class="modal-submit-btn outline">Submit</div>
            </div>
        </div>
    </div>
</div>

<!-- Completion Modal -->
<div class="modal fade completionModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <i class="fa fa-times modal-close outline" aria-hidden="true" ng-click="closeModal()"></i>
            <div class="modal-heading">Registration</div>
            <div ng-repeat="txt in completionModalArray" style="margin-top: 10px;">
                <div class="row">
                    <div class="col-md-offset-1 col-md-5  col-sm-5 col-xs-5 modal-text">{{txt}}</div>
                    <div class="col-md-2  col-sm-2 col-xs-2 modal-btn1 outline">Download</div>
                    <div class="col-md-offset-1 col-md-2  col-sm-2 col-xs-2 modal-btn2 outline">Upload</div>
                </div>
            </div>
            <div style="margin-top: 20px;">
                <div class="modal-submit-btn outline">Submit</div>
            </div>
        </div>
    </div>
</div>

<!-- Invite Muffin Modal -->
<div class="modal fade inviteMuffinModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <i class="fa fa-times modal-close outline" aria-hidden="true" ng-click="closeModal()"></i>
            <div class="modal-heading">Invite User</div>
            <div class="input-group"  style="margin: 0px 20px 20px 20px;">
                <input type="text" ng-model="searchUser" class="form-control" placeholder="Search User" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
            <div ng-repeat="user in allUsers | filter:searchUser" style="margin: 10px 20px 0px 20px;padding: 10px; background-color: #ECECEE">
                <div class="row">
                    <div class="col-md-offset-1 col-md-5 col-sm-5 col-xs-5 modal-text" >
                        {{user.username}} <br/>
                        <span style="color: #A9A9A9; font-size: 12px;">{{user.email}}</span>
                    </div>
                    <div class="col-md-offset-3 col-md-2 col-sm-2 col-xs-2 modal-btn2 outline" ng-click="inviteUser(user._id)" style="margin-top: 5px;">Invite</div>
                </div>
            </div>
            <div style="text-align: center;margin-top: 20px;" ng-show="showProgress">
                <div layout="row" layout-sm="column" layout-align="space-around" style="">
                    <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add New Modal -->
<div class="modal fade addNewMuffinModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <i class="fa fa-times modal-close outline" aria-hidden="true" ng-click="closeModal()"></i>
            <div class="modal-heading">Add new Muffin</div>
            <!--<div ng-repeat="txt in commencementModalArray" style="margin-top: 10px;">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-offset-1 col-md-5 col-sm-5 col-xs-5 modal-text">{{txt}}</div>-->
                    <!--<div class="col-md-2  col-sm-2 col-xs-2 modal-btn1 outline">Download</div>-->
                    <!--<div class="col-md-offset-1 col-md-2  col-sm-2 col-xs-2 modal-btn2 outline">Upload</div>-->
                <!--</div>-->
            <!--</div>-->
            <div style="margin-top: 20px;">
                <div class="modal-submit-btn outline">Submit</div>
            </div>
        </div>
    </div>
</div>