.modal-content{
    padding: 20px;
}

.modal-heading{
    text-align: center;font-size: 22px;font-weight: 500;margin-bottom: 40px;
}

.modal-close{
    color: gray;float: right;margin-bottom: 15px;
}

.modal-text{
    color: #2B2E33; font-size: 16px; font-weight: 400; padding: 5px;
}

.modal-btn1{
    background-color: #E6E6E6; color: #7B7B7B; text-align: center; padding: 8px; border-radius: 2px;
}

.modal-btn2{
    background-color: #404247; color: white; text-align: center; padding: 8px; border-radius: 2px;
}

.modal-submit-btn{
    border-radius: 2px;
    padding: 10px;
    text-align: center;
    color: whitesmoke;
    background-color: #319DB5;
    margin: auto;
    display: block;
    width: 40%;
}

.registration-text{
    font-size: 16px;
}

.registration-steps{
    color: black; font-weight: 600;
    margin-right: 15px;
}

.register-queue{
    background-color: #2B2E33;border-radius: 2px;padding: 13px;color: whitesmoke;
    text-align: center;
}

.register-queue-steps{
    height:20px; width:20px;font-weight: 600;
    border-radius: 50%; background-color: #319DB5;color:whitesmoke;
    text-align: center;padding: 5px 9px;margin: 2px;border: #FFFFFF 2px solid;
}

.register-queue-muffins{
    background-color: #C7C7C7;padding: 10px;
    text-align: center;margin-top: 2px;
}

.approval-btn {
    padding: 10px;background-color: #3299B7; border-radius: 2px; color: whitesmoke;outline: none;
}

.reject-btn{
    padding: 10px;background-color: #2B2E33; border-radius: 2px; color: whitesmoke; margin-left: 10px;outline: none;
}

.invite-btn{
    padding: 10px;background-color: #3299B7; border-radius: 2px; color: whitesmoke;outline: none;
}

.addNew-btn{
    padding: 10px;background-color: #2B2E33; border-radius: 2px; color: whitesmoke; margin-left: 10px;outline: none;
}

.textHeading{
    color: #808080
}

.muffin-facevalue{
    font-size: 18px; font-weight: 500; color: #3299B7;
}

.muffin-types-container{
    background-color: #FFFFFF;padding: 25px 25px 25px 25px;
}