.task-details-container{
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 15px;
    margin-top: 10px;
}

.no-task{
   text-align: center;
    padding: 10px;
}

.add-task-btn{
    background-color: lightgrey;
    text-align: center;
    width: 50%;
    margin: auto;
    display: block;
    padding: 10px;
}

.add-legal-btn{
    background-color: #2aabd2;color: whitesmoke;float: right;padding: 10px 15px 10px 15px;border-radius: 2px;
}

.md-dialog-container{
    z-index: 2000;
}
