<div class="" style="margin-bottom: 50px;">
    <div class="home-heading">Legal</div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="input-group">
                <input type="text" ng-model="searchText" class="form-control" placeholder="Search Legal" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="add-legal-btn" ng-click="showAddLegalModal()">Add Legal</div>
        </div>
    </div>
    <div class="" style="margin-top: 15px;text-align: center">
        <div layout="row" layout-wrap>
            <div flex="15" class=" bank-heading">Case No</div>
            <div flex="10" class=" bank-heading">Court of</div>
            <div flex="15" class=" bank-heading">Location</div>
            <div flex="10" class=" bank-heading">Subscriber</div>
            <div flex="15" class=" bank-heading">Settlement Amount</div>
            <div flex="10" class=" bank-heading">Last Date</div>
            <div flex="10" class=" bank-heading">Next Date</div>
            <div flex="15" class="bank-heading">Details</div>
        </div>
        <div ng-repeat="legal in legals | filter: searchText" ng-show="!showProgress">
            <div layout="row" layout-wrap>
                <div flex="15" class=" bank-data">{{legal.caseNumber}}</div>
                <div flex="10" class=" bank-data">{{legal.courtOf}}</div>
                <div flex="15" class=" bank-data">{{legal.location}}</div>
                <div flex="10" class=" bank-data">{{legal.userName}}</div>
                <div flex="15" class=" bank-data">₹ {{legal.sattelmentAmount}}</div>
                <div flex="10" class=" bank-data">{{legal.lastDate | date:"dd-MM-yyyy"}}</div>
                <div flex="10" class=" bank-data">{{legal.nextDate | date:"dd-MM-yyyy"}}</div>
                <div flex="15" class=" bank-data outline" ng-click="showTaskModal(legal._id)"><span style="color: #5d6066;">Add task</span></div>
            </div>
        </div>
        <div style="text-align: center;margin-top: 20px;" ng-show="showProgress">
            <div layout="row" layout-sm="column" layout-align="space-around" style="">
                <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
            </div>
        </div>
    </div>
</div>


<!--Show Legal add Modal-->
<div class="modal fade addLegalModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <i class="fa fa-times modal-close outline" aria-hidden="true" ng-click="closeAddLegalModal()"></i>
            <div class="modal-heading">Add Legal</div>
            <div class="" style="padding: 0px 20px 0px 20px">
                <div class="form-group">
                    <label for="usr">Court Of:</label>
                    <input type="text" class="form-control" ng-model="legal.courtOf" id="usr">
                </div>
                <div class="form-group">
                    <label for="usr">Location:</label>
                    <input type="text" class="form-control" ng-model="legal.location" id="usr">
                </div>
                <div class="form-group">
                    <label for="usr">Subscriber:</label>
                    <div class="dropdown add-sugnup-input">
                        <div class="btn btn-block dropdown-toggle bg-color-white " type="button" style="text-align: left"  data-toggle="dropdown">{{muffinUser}} <span style="float: right;"><i class="fa fa-caret-down" aria-hidden="true"></i></span></div>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="height: 200px; overflow: auto">
                            <li role="presentation" ng-repeat="user in muffinUsers">
                                <a role="menuitem" tabindex="-1" ng-click="userSelected(user)">{{user.username}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label for="usr">Settlement Amount:</label>
                    <input type="text" class="form-control" ng-model="legal.sattelmentAmount " id="usr">
                </div>
                <div class="form-group">
                    <label for="usr">Details:</label>
                    <input type="text" class="form-control" ng-model="legal.details" id="usr">
                </div>
            </div>
            <div style="margin-top: 20px;">
                <div class="modal-submit-btn" ng-show="!showAddLegalProgress" ng-click="addLegal()">Submit</div>
                <div style="text-align: center;" ng-show="showAddLegalProgress">
                    <div layout="row" layout-sm="column" layout-align="space-around" style="">
                        <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Show Task Modal-->
<div class="modal fade taskModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <i class="fa fa-times modal-close outline" aria-hidden="true" ng-click="closeTaskModal()"></i>
            <div class="modal-heading">Tasks</div>
            <div class="" style="padding: 0px 20px 0px 20px" ng-show="tasks.length > 0">
                <div ng-repeat="task in tasks">
                    <div class="task-details-container">
                        <div>{{task.taskId}}</div>
                        <div>{{task.taskSubject}}</div>
                        <div>{{task.taskDate | date:"dd-MM-yyyy"}}</div>
                        <div>{{task.taskDetails}}</div>
                    </div>
                </div>
            </div>
            <div class=""  ng-show="!showTaskProgress">
                <div ng-show="tasks.length == 0" class="no-task">No Tasks available!!!</div>
            </div>
            <div style="text-align: center;margin-top: 20px;" ng-show="showTaskProgress">
                <div layout="row" layout-sm="column" layout-align="space-around" style="">
                    <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                </div>
            </div>

            <div class="add-task-btn" ng-click="showAddTaskModal()" style="margin-top: 20px;">Add Task</div>
        </div>
    </div>
</div>

<!--Add Task Modal-->
<div class="modal fade addTaskModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <i class="fa fa-times modal-close outline" aria-hidden="true" ng-click="closeAddTaskModal()"></i>
            <div class="modal-heading">Add Task</div>
            <div class="" style="padding: 0px 20px 0px 20px">
                <div class="form-group">
                    <label for="usr">Task Id:</label>
                    <input type="text" class="form-control" ng-model="task.taskId" id="phone">
                </div>
                <div class="form-group">
                    <label for="usr">Task Subject :</label>
                    <input type="text" class="form-control" ng-model="task.taskSubject" id="usr">
                </div>
                <!--<div class="form-group">-->
                    <!--<label for="usr">Task Type:</label>-->
                    <!--<div class="dropdown add-sugnup-input">-->
                        <!--<div class="btn btn-block dropdown-toggle bg-color-white " type="button" style="text-align: left"  data-toggle="dropdown">{{task.taskType}} <span style="float: right;"><i class="fa fa-caret-down" aria-hidden="true"></i></span></div>-->
                        <!--<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" >-->
                            <!--<li role="presentation" ng-repeat="type in ['legal','sales']">-->
                                <!--<a role="menuitem" tabindex="-1" ng-click="taskTypeSelected(type)">{{type}}</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <label for="usr">Next Date :</label>
                    <input type="text" class="form-control" ng-model="task.taskDate" ng-click="selectDate()" id="usr">
                </div>
                <div class="form-group">
                    <label for="usr">Task Details:</label>
                    <input type="text" class="form-control" ng-model="task.taskDetails" id="phone">
                </div>

            </div>
            <div style="margin-top: 20px;">
                <div class="modal-submit-btn" ng-show="!showAddTaskProgress" ng-click="addTask()">Submit</div>
                <div style="text-align: center;" ng-show="showAddTaskProgress">
                    <div layout="row" layout-sm="column" layout-align="space-around" style="">
                        <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

