<div class="" style="margin-bottom: 50px">
    <div class="home-heading">Executives</div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Search" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">

        </div>
    </div>

    <div class="" style="margin-top: 15px;">
        <div layout="row" layout-wrap>
            <div flex="25" class=" bank-heading">Name</div>
            <div flex="25" class=" bank-heading">UserName</div>
            <div flex="25" class=" bank-heading">Phone</div>
            <div flex="25" class=" bank-heading">Email</div>
        </div>
        <div ng-repeat="user in officeUsers | filter: searchText" ng-show="!showProgress">
            <div layout="row" layout-wrap style="text-align: center;padding: 0;margin: 0;">
                <div flex="25" class=" bank-data">{{user.name | capitalize}}</div>
                <div flex="25" class=" bank-data">{{user.username}}</div>
                <div flex="25" class=" bank-data">{{user.phone}}</div>
                <div flex="25" class=" bank-data">{{user.email}}</div>
            </div>
        </div>
        <div style="text-align: center;margin-top: 20px;" ng-show="showProgress">
            <div layout="row" layout-sm="column" layout-align="space-around" style="">
                <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
            </div>
        </div>
    </div>
</div>