.bg-gradient{
    background: #673fb4;
    background:-webkit-linear-gradient(left, #673fb4, #fc5457);
    background: -moz-linear-gradient(left, #673fb4, #fc5457);
    background: -ms-linear-gradient(left, #673fb4, #fc5457);
    background: -o-linear-gradient(left, #673fb4, #fc5457);
    background: linear-gradient(to right, #673fb4, #fc5457);
}

.login-container{
    height: 100%;width: 100%;margin: 0;padding: 0;position: fixed;
}

.login-box{
    background-color:#fff;
    padding: 20px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

.login-logo{
    display:block;
    margin:auto;
    height: 100px;
    width: 100px;
}

.login-form-class{
    padding: 15px;
    margin-top: 20px;
}

.login-submit{
    background-color: #fc5457;
    border: none;
}

.login-submit:active, .login-submit:active, .login-submit:focus, .login-submit:focus, .login-submit:hover, .login-submit:hover{
    border:none !important;
    outline:none !important;
    background-color: #fc5457;
}

.siguptext{
    text-align: center;
    margin-top: 15px;
    outline: none;
}