<div class="login-container bg-gradient">
    <div class="login-box" >
        <img src="./assets/images/logo.svg" class="login-logo">
        <div class="login-form-class">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" ng-model="signUp.name" class="form-control" id="exampleInputEmail1"  placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">UserName</label>
                    <input type="text" ng-model="signUp.username" class="form-control" id="exampleInputEmail1"  placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="text" ng-model="signUp.email" class="form-control" id="exampleInputEmail1"  placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" ng-model="signUp.password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Phone</label>
                    <input type="text" ng-model="signUp.phone" class="form-control" id="exampleInputPassword1" placeholder="Phone">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Role</label>
                    <div class="dropdown add-sugnup-input">
                        <div class="btn btn-block dropdown-toggle bg-color-white " type="button" style="text-align: left"  data-toggle="dropdown">{{signUp.role}} <span style="float: right;"><i class="fa fa-caret-down" aria-hidden="true"></i></span></div>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation" ng-repeat="type in ['admin','superadmin']">
                                <a role="menuitem" tabindex="-1" ng-click="adminTypeSelected(type)">{{type}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <button type="submit" ng-click="signUpClicked()" ng-hide="showProgress" class="btn btn-primary btn-block login-submit">Submit</button>
                <div style="text-align: center" ng-show="showProgress">
                    <div layout="row" layout-sm="column" layout-align="space-around"  style="">
                        <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                    </div>
                </div>
                <div  ng-click="goToLogin()" style="text-align: center;margin-top: 10px;outline: none;">Already have an account?</div>

            </form>
        </div>
    </div>
</div>