<div class="outer-container">
    <div class="home-heading">Active Muffins</div>

    <div style="margin-top: 15px;">
        <div layout="row" layout-wrap>
            <div flex="20" class=" bank-heading">Muffin Name</div>
            <div flex="20" class=" bank-heading">FaceValue</div>
            <div flex="20" class=" bank-heading">Members</div>
            <div flex="20" class=" bank-heading">Instalment</div>
            <div flex="20" class=" bank-heading">Members</div>
        </div>
        <div ng-repeat="muffin in activeMuffins" ng-show="!showProgress">
            <div layout="row" layout-wrap style="text-align: center;padding: 0;margin: 0;">
                <div flex="20" class=" bank-data">{{muffin.name}}</div>
                <div flex="20" class=" bank-data">₹ {{muffin.chitValue}}</div>
                <div flex="20" class=" bank-data">{{muffin.members}}</div>
                <div flex="20" class=" bank-data">₹ {{muffin.instalment}}</div>
                <div flex="20" class=" bank-data" ng-click="showMembers(muffin._id)"><i class="fa fa-users" aria-hidden="true"></i></div>

            </div>
        </div>
        <div style="text-align: center;margin-top: 10px;" ng-show="showProgress">
            <div layout="row" layout-sm="column" layout-align="space-around" style="">
                <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
            </div>
        </div>
    </div>
</div>

<!-- Invite Muffin Modal -->
<div class="modal fade muffinMembersModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <i class="fa fa-times modal-close outline" aria-hidden="true" ng-click="closeMuffinMembersModal()"></i>
            <div class="modal-heading">Muffin Members</div>
            <div ng-repeat="user in muffinUsers" style="margin: 10px 20px 0px 20px;padding: 10px; background-color: #ECECEE">
                <div class="row">
                    <div class="col-md-offset-1 col-md-5 col-sm-5 col-xs-5 modal-text" >
                        {{user.username}} <br/>
                        <span style="color: #A9A9A9; font-size: 12px;">{{user.email}}</span>
                    </div>
                </div>
            </div>
            <div style="text-align: center;margin-top: 20px;" ng-show="showUsersProgress">
                <div layout="row" layout-sm="column" layout-align="space-around" style="">
                    <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                </div>
            </div>
        </div>
    </div>
</div>

