<div class="" style="margin-bottom: 50px">
    <div class="home-heading">Receivables</div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Search" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div ng-click="showFilter()" style="background-color: #2aabd2;color: whitesmoke;float: right;padding: 10px 15px 10px 15px;border-radius: 2px;">Filter</div>
        </div>
    </div>

    <div class="" style="margin-top: 15px;">
        <div layout="row" layout-wrap>
            <div flex="25" class=" bank-heading">Name</div>
            <div flex="25" class=" bank-heading">UserName</div>
            <div flex="25" class=" bank-heading">Phone</div>
            <div flex="25" class=" bank-heading">Amount Due</div>
        </div>
        <div ng-repeat="user in usersDueAmount | filter: searchText" ng-show="!showProgress">
            <div layout="row" layout-wrap style="text-align: center;padding: 0;margin: 0;">
                <div flex="25" class=" bank-data">{{user.name}}</div>
                <div flex="25" class=" bank-data">{{user.username}}</div>
                <div flex="25" class=" bank-data">{{user.phone}}</div>
                <div flex="25" class=" bank-data">{{user.email}}</div>
            </div>
        </div>
        <div style="text-align: center;margin-top: 20px;" ng-show="showProgress">
            <div layout="row" layout-sm="column" layout-align="space-around" style="">
                <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
            </div>
        </div>
    </div>
</div>

<!-- Filter Modal -->
<div class="modal fade filterModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <i class="fa fa-times modal-close outline" aria-hidden="true" ng-click="closeFilterModal()"></i>
            <div class="modal-heading">Filter</div>

            <div class="" style="padding: 0px 20px 0px 20px">
                <div class="form-group">
                    <label for="usr">Amount above:</label>
                    <input type="text" class="form-control" ng-model="legal.courtOf" id="usr">
                </div>
                <div class="form-group">
                    <label for="usr">Age of Muffin:</label>
                    <input type="text" class="form-control" ng-model="legal.location" id="usr">
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Prized
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        UnPrized
                    </label>
                </div>
            </div>
            <div class="modal-submit-btn" ng-click="filter()">Submit</div>
        </div>
    </div>
</div>
