<div class="" style="margin-bottom: 50px;">
    <div class="home-heading">Sales</div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="input-group">
                <input type="text" ng-model="searchText" class="form-control" placeholder="Search Sales" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div ng-click="showAddSalesModal()" style="background-color: #2aabd2;color: whitesmoke;float: right;padding: 10px 15px 10px 15px;border-radius: 2px;">Add Sales</div>
        </div>
    </div>
    <div class="" style="margin-top: 15px;text-align: center">
        <div layout="row" layout-wrap>
            <div flex="10" class=" bank-heading">Name</div>
            <div flex="15" class=" bank-heading">Email</div>
            <div flex="10" class=" bank-heading">Phone</div>
            <div flex="15" class=" bank-heading">Address</div>
            <div flex="10" class=" bank-heading">Volume Expected</div>
            <div flex="10" class=" bank-heading">Volume per person</div>
            <div flex="10" class=" bank-heading">Next Following</div>
            <!--<div flex="10" class=" bank-heading">Executive</div>-->
            <div flex="10" class=" bank-heading">Detail</div>
            <div flex="10" class=" bank-heading"></div>
        </div>

        <div ng-repeat="sale in sales | filter: searchText" ng-show="!showProgress">
            <div layout="row" layout-wrap>
                <div flex="10" class="bank-data">{{sale.name}}</div>
                <div flex="15" class="bank-data">{{sale.email}}</div>
                <div flex="10" class="bank-data">{{sale.phone}}</div>
                <div flex="15" class="bank-data">{{sale.address}}</div>
                <div flex="10" class="bank-data">{{sale.volumeExpected}}</div>
                <div flex="10" class="bank-data">{{sale.valuePerPerson}}</div>
                <div flex="10" class="bank-data">{{sale.nextFollowing | date:"dd-MM-yyyy"}}</div>
                <!--<div flex="10" class="bank-data">Executive</div>-->
                <div flex="10" class="bank-data">{{sale.details}}</div>
                <div flex="10" class=" bank-data outline" ng-click="showTaskModal(sale._id)"><span style="color: #5d6066;">Add task</span></div>
            </div>
        </div>
        <div style="text-align: center;margin-top: 20px;" ng-show="showProgress">
            <div layout="row" layout-sm="column" layout-align="space-around" style="">
                <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
            </div>
        </div>
    </div>
</div>

<!--Show Legal add Modal-->
<div class="modal fade addSalesModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <i class="fa fa-times modal-close outline" aria-hidden="true" ng-click="closeAddSalesModal()"></i>
            <div class="modal-heading">Add Sales</div>
            <div class="" style="padding: 0px 20px 0px 20px">
                <div class="form-group">
                    <label for="usr">Name:</label>
                    <input type="text" class="form-control" ng-model="sale.name" id="usr">
                </div>
                <div class="form-group">
                    <label for="usr">Email:</label>
                    <input type="text" class="form-control" ng-model="sale.email" id="usr">
                </div>
                <div class="form-group">
                    <label for="usr">Phone:</label>
                    <input type="text" class="form-control" ng-model="sale.phone " id="usr">
                </div>
                <div class="form-group">
                    <label for="usr">Address:</label>
                    <input type="text" class="form-control" ng-model="sale.address" id="usr">
                </div>
                <div class="form-group">
                    <label for="usr">Volume Expected:</label>
                    <input type="text" class="form-control" ng-model="sale.volumeExpected" id="usr">
                </div>
                <div class="form-group">
                    <label for="usr">Value Per Person:</label>
                    <input type="text" class="form-control" ng-model="sale.valuePerPerson" id="usr">
                </div>
                <div class="form-group">
                    <label for="usr">Details:</label>
                    <input type="text" class="form-control" ng-model="sale.details" id="usr">
                </div>
            </div>
            <div style="margin-top: 20px;">
                <div class="modal-submit-btn" ng-show="!showAddSalesProgress" ng-click="addSales()">Submit</div>
                <div style="text-align: center;" ng-show="showAddSalesProgress">
                    <div layout="row" layout-sm="column" layout-align="space-around" style="">
                        <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Show Task Modal-->
<div class="modal fade taskModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <i class="fa fa-times modal-close outline" aria-hidden="true" ng-click="closeTaskModal()"></i>
            <div class="modal-heading">Tasks</div>
            <div class="" style="padding: 0px 20px 0px 20px" ng-show="salesTask.length > 0">
                <div ng-repeat="task in salesTask">
                    <div class="task-details-container">
                        <div>{{task.taskId}}</div>
                        <div>{{task.taskSubject}}</div>
                        <div>{{task.taskDate | date:"dd-MM-yyyy"}}</div>
                        <div>{{task.taskDetails}}</div>
                    </div>
                </div>
            </div>
            <div class=""  ng-show="!showTaskProgress">
                <div ng-show="salesTask.length == 0" class="no-task">No Tasks available!!!</div>
            </div>
            <div style="text-align: center;margin-top: 20px;" ng-show="showTaskProgress">
                <div layout="row" layout-sm="column" layout-align="space-around" style="">
                    <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                </div>
            </div>

            <div class="add-task-btn" ng-click="showAddTaskModal()" style="margin-top: 20px;">Add Task</div>
        </div>
    </div>
</div>

<!--Add Task Modal-->
<div class="modal fade addTaskModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <i class="fa fa-times modal-close outline" aria-hidden="true" ng-click="closeAddTaskModal()"></i>
            <div class="modal-heading">Add Task</div>
            <div class="" style="padding: 0px 20px 0px 20px">
                <div class="form-group">
                    <label for="usr">Task Id:</label>
                    <input type="text" class="form-control" ng-model="task.taskId" id="phone">
                </div>
                <div class="form-group">
                    <label for="usr">Task Subject :</label>
                    <input type="text" class="form-control" ng-model="task.taskSubject" id="usr">
                </div>
                <div class="form-group">
                    <label for="usr">Next Date :</label>
                    <input type="text" class="form-control" ng-model="task.taskDate" ng-click="selectDate()" id="usr">
                </div>
                <div class="form-group">
                    <label for="usr">Task Details:</label>
                    <input type="text" class="form-control" ng-model="task.taskDetails" id="phone">
                </div>

            </div>
            <div style="margin-top: 20px;">
                <div class="modal-submit-btn" ng-show="!showAddTaskProgress" ng-click="addTask()">Submit</div>
                <div style="text-align: center;" ng-show="showAddTaskProgress">
                    <div layout="row" layout-sm="column" layout-align="space-around" style="">
                        <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

