.bank-heading{
    background-color: #353940;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
}

.bank-data{
    padding: 10px;
    text-align: center;
    background-color: white;
    margin-bottom: 1px;
}

.add-bank-btn{
    background-color: #2aabd2;color: whitesmoke;float: right;padding: 10px 15px 10px 15px;border-radius: 2px;
}