<div class="outer-container">
    <div class="home-heading">Banks</div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="input-group">
                <input type="text" ng-model="searchText" class="form-control" placeholder="Search Bank" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="add-bank-btn" ng-click="showAddBankModal()">Add Bank</div>
        </div>
    </div>
    <div class="" style="margin-top: 15px;">
        <div layout="row" layout-wrap>
            <div flex="15" class=" bank-heading">Bank Name</div>
            <div flex="15" class=" bank-heading">Code IFSC</div>
            <div flex="15" class=" bank-heading">Branch</div>
            <div flex="15" class=" bank-heading">Address</div>
            <div flex="15" class=" bank-heading">Telephone</div>
            <div flex="15" class=" bank-heading">Micr Code</div>
            <div flex="10" class=" bank-heading"></div>
        </div>
        <div ng-repeat="bank in banks | filter:searchText" ng-show="!showProgress">
            <div layout="row" layout-wrap style="text-align: center;padding: 0;margin: 0;">
                <div flex="15" class=" bank-data">{{bank.bankName}}</div>
                <div flex="15" class=" bank-data">{{bank.ifscCode}}</div>
                <div flex="15" class=" bank-data">{{bank.branch}}</div>
                <div flex="15" class=" bank-data">{{bank.address}}</div>
                <div flex="15" class=" bank-data">{{bank.telephone}}</div>
                <div flex="15" class=" bank-data">{{bank.micrCode}}</div>
                <div flex="10" class=" bank-data outline" ng-click="showEditBankModal($index)"><i class="fa fa-pencil" aria-hidden="true" style="color: #5d6066;"></i></div>
            </div>
        </div>
        <div style="text-align: center;margin-top: 10px;" ng-show="showProgress">
            <div layout="row" layout-sm="column" layout-align="space-around" style="">
                <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
            </div>
        </div>
    </div>
</div>

<!--Show add Modal-->
<div class="modal fade addBankModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <i class="fa fa-times modal-close outline" aria-hidden="true" ng-click="closeModal()"></i>
            <div class="modal-heading">Add Bank</div>
            <div class="" style="padding: 0px 20px 0px 20px">
                <div class="form-group">
                    <label for="usr">Bank Name:</label>
                    <input type="text" class="form-control" ng-model="bank.bankName">
                </div>
                <div class="form-group">
                    <label for="usr">Code IFSC:</label>
                    <input type="text" class="form-control" ng-model="bank.ifscCode">
                </div>
                <div class="form-group">
                    <label for="usr">Branch:</label>
                    <input type="text" class="form-control" ng-model="bank.branch">
                </div>
                <div class="form-group">
                    <label for="usr">Address:</label>
                    <input type="text" class="form-control" ng-model="bank.address">
                </div>
                <div class="form-group">
                    <label for="usr">Telephone:</label>
                    <input type="text" class="form-control" ng-model="bank.telephone" id="phone">
                </div>
                <div class="form-group">
                    <label for="usr">Micr Code:</label>
                    <input type="text" class="form-control" ng-model="bank.micrCode">
                </div>
            </div>
            <div style="margin-top: 20px;">
                <div class="modal-submit-btn" ng-show="!showaddBankProgress" ng-click="addBank()">Submit</div>
                <div style="text-align: center;" ng-show="showaddBankProgress">
                    <div layout="row" layout-sm="column" layout-align="space-around" style="">
                        <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Show Edit Bank Modal-->
<div class="modal fade editBankModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <i class="fa fa-times modal-close outline" aria-hidden="true" ng-click="closeModal()"></i>
            <div class="modal-heading">Add Bank</div>
            <div class="" style="padding: 0px 20px 0px 20px">
                <div class="form-group">
                    <label for="usr">Bank Name:</label>
                    <input type="text" class="form-control" ng-model="bank.bankName">
                </div>
                <div class="form-group">
                    <label for="usr">Code IFSC:</label>
                    <input type="text" class="form-control" ng-model="bank.ifscCode">
                </div>
                <div class="form-group">
                    <label for="usr">Branch:</label>
                    <input type="text" class="form-control" ng-model="bank.branch">
                </div>
                <div class="form-group">
                    <label for="usr">Address:</label>
                    <input type="text" class="form-control" ng-model="bank.address">
                </div>
                <div class="form-group">
                    <label for="usr">Telephone:</label>
                    <input type="text" class="form-control" ng-model="bank.telephone" id="editPhone">
                </div>
                <div class="form-group">
                    <label for="usr">Micr Code:</label>
                    <input type="text" class="form-control" ng-model="bank.micrCode" id="usr">
                </div>
            </div>
            <div style="margin-top: 20px;">
                <div class="modal-submit-btn" ng-show="!showEditProgress" ng-click="editBank()">Submit</div>
                <div style="text-align: center;" ng-show="showEditProgress">
                    <div layout="row" layout-sm="column" layout-align="space-around" style="">
                        <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>